/*@import '../../.cache/wal/colors-waybar.css'; */
@import '../../.cache/wal/colors-waybar.css';

* {
  font-family: "JetBrainsMonoNerdFont", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background: transparent; 
  transition-property: background-color;
  transition-duration: .5s;
}

.modules-right, .modules-left, .modules-center {
  border-bottom: 1px solid @color6;
  border-radius: 20px;
  padding: 5px
}

#taskbar {
  padding: 5px
}

#taskbar button {
  margin-right: 5px
}


/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  font-weight: bold;
  font-size: 20px;
}

#workspaces button {
  margin: 0px 5px;
  color: @color0;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @color6;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @color6;
  opacity: 0.7;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border: 2px solid @color6;
  border-radius: 10px;
  opacity: 0.8;
}

tooltip label {
  color: @color6;
}


#custom-capture_area {
  font-size: 20px;
  font-weight: bold;
  color: @color6;
  margin: 0px 10px;
}

#custom-wlogout {
  font-size: 20px;
  font-weight: bold;
  color: @color6;
  margin: 0px 10px;
}

#custom-wp_prev {
  font-size: 20px;
  font-weight: bold;
  color: @color6;
  margin: 0px 10px;
}

#custom-wp_next {
  font-size: 20px;
  font-weight: bold;
  color: @color6;
  margin: 0px 10px;
}

/* -----------------------------------------------------
 * Idle Inhibator
 * ----------------------------------------------------- */

#idle_inhibitor {
  margin: 0px 10px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
  color: @iconcolor;
}

#idle_inhibitor.activated {
  color: #dc2f2f;
}


/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
  color: @color6;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 10px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  font-size: 20px;
  font-weight: bold;
  color: @color6;
  margin: 0px 10px;
}

#pulseaudio.muted {
  color: orange;
}

#temperature {
  font-size: 20px;
  font-weight: bold;
  color: @color6;
  margin: 0px 20px;
}
